#hero{
    height: 90vh;
    width: 100%;
    background-image: url(../img/hero-image-optimized.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;


    #herocontent{
        Color: $red;

        h1{
            font-weight: 700;
            font-size: rem-calc(60);
        }
        h2{
            font-weight: 500;
            font-size: rem-calc(28);
            width: 678px;
            height: 84px;
            line-height: 32px;
            a{
                Color: $red;
            }
        }
    }
}