#preloader{

    // display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100%;
    z-index: 12000;
    background-color: $beige2;
    
    >div{
        background-color: $beige2;

        SVG{
            
        }
    }

    #Hand2, #Hand3, #Hand4, #Hand5, #Hand6, #Hand7, #Hand8, #Hand9, #Hand10, #Hand11{
        visibility:hidden;
    }
} 