/* =============
    Header
============= */
header{
    position: fixed;
    width: 100vw;
    height: 55px;
    background-color: $red;
    z-index: 1000;

    >div{
        display: flex;
        flex-wrap: nowrap;
//        justify-content: space-around;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;

        ul{
            grid-area: header;
            justify-content: space-evenly;
            justify-content: space-around;
        }

        #logo-cell{
            width: 94px;
            flex-grow: 2;
        }
    }
}