/* =============
    Header
============= */
header{
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: $red;

    >div{

        display: grid;
        align-items: center;
        grid-template-columns: auto 7% auto;
        padding: 8px, 16px;

        section{
            display: inline-block;
            align-items: center;
            height: 100%;
    
        }

    }

//        section{
//            a{
//              display: inline-block;
//                width: 94 px;
//                height: 38 px;
//            }
//        }

}