/* =============
    Navigation
============= */

ul{

    height: 100%;
    align-items: center;

    display: flex;
    justify-content: center;
    list-style: none;

    li{

        margin-left: 6vw;

        a:link, a:visited{

            a:hover, a:active{

                font-weight: 300;
            }


        }

    }




}