/* =============
    Navigation
============= */

ul{

    // height: 100%;
    

    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

    a{
        text-decoration: none;
    }

    li{
        text-align: center;
        // margin-left: 6vw;
        // width: 100%;

        a:link, a:visited{
            
            font-family: Jost;
            font-weight: 400;
            font-size: rem-calc(16);
            color: $beige;
            transition: 2s;

            a:hover, a:active{
                
                color: rgba(255, 253, 235, 0.6);
            }


        }

    }

    #logo-cell{
        flex-grow: 2;
            width: 50%;
        }
}